@using System.Threading.Tasks
@using CarsInfoWeb.Models

@model IEnumerable<CarsInfoWeb.Models.Car>
@{
    ViewData["Title"] = "AllCars";
}


<h2>There are @Model.Count() cars in our database</h2>
<h3>List of cars:</h3>
<br />
@if (ViewBag.error!=null)
{
    <h3>! Error. @ViewBag.error</h3>
}

<div class="row">
    @foreach (var car in @Model)
    {
        <div class="col-sm-3 col-md-3">
            @if (!String.IsNullOrEmpty(car.Picture))
            {
                <img src="~/users_uploads/@car.UserId/@car.Picture" class="car-picture" />
            }
            else
            {
                <img src="~/images/images.png" class="car-picture" />
            }
        </div>
        <div class="col-sm-3 col-lg-2">
            <b>Make: </b>@car.Make <br />
            <b>Model: </b>@car.Model <br />
            <b>Mileage: </b>@car.Mileage <br /> 
            <b>Price: </b>@car.Price <br />
            <b>Style type: </b>@car.Type <br />
            <b>Fuel type: </b>@car.Fuel <br />
            @if ((User.Identity.IsAuthenticated)&&(User.Identity.Name == "n_spirov@abv.bg"))
            {
                <a asp-action="Edit" asp-route-id="@car.CarId">Edit</a>
                @Html.Raw('|');
                <a asp-action="Delete" asp-route-id="@car.CarId">Delete</a>
            }

            <hr />
           

        </div>

    }
</div>
